

<tr *ngFor="let obj of OriginalContracts">
    <div class="row">
    <div class="column ml-4">
<div class="m-4  card" style="width: 40rem;">
        <span class="border border-primary">

    <div class="card-body">
      <h1 class="card-title">{{obj.hotelName}}</h1>
      <p class="card-text" >Start Date:- {{obj.contract.startdate | date : "dd.MM.y"}}</p>
     <p class="card-text">End Date:- {{obj.contract.enddate | date : "dd.MM.y"}}</p>
     <p class="card-text">Markup:- {{obj.contract.markup}} $</p>

      <table class="table">
        <thead>
          <tr >
            <th scope="col">Room Type</th>
            <th scope="col">Price</th>
            <th scope="col">Max Adults</th>
            <th scope="col">No of Rooms</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of obj.contract.roomDetails; let i=index" >
            <td >{{obj.roomTypes[i]}}</td>
            <td>{{detail.rprice}}</td>
            <td>{{detail.maxadults}}</td>
            <td>{{detail.availablerooms}}</td>


          </tr>
        </tbody>
      </table>


    </div>
   </span>
</div>
</div>
</div>


</tr>