<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <h2>Contracts Search Form</h2>
    <form  [formGroup]="addmore" >

        <div class="form-group">
            <label >Check in Date</label>
            <input  formControlName="checkindate" type="date" name="checkindate" [(ngModel)]="searchModel.checkindate" class="form-control" >
            <span *ngIf="addmore.get('checkindate').touched && addmore.get('checkindate').hasError('required')" class="text-danger">please choose the checkin date!</span>
            <span *ngIf="addmore.errors ?. misMatch && addmore.get('checkindate').touched" class="text-danger"> please choose a valid date!!</span>

          </div>

        <div class="form-group">
            <label >No of Nights</label>
            <input  type="number" formControlName="noofnights" name="noofnights"  [(ngModel)]="searchModel.noofnights" class="form-control" min="0" oninput="validity.valid||(value='');">
            <span *ngIf="addmore.get('noofnights').touched && addmore.get('noofnights').hasError('required')" class="text-danger">please enter the number of nights you want to stay!</span>
          </div>

       

        
        <div class="row">
            <div class="col-sm-12 table-responsive" formArrayName="noOfRoomsWithAdults">
              <table class="table">
                <thead>
                  <tr>
                    <th style="white-space: nowrap;padding-right: 4em;float:center">No of Adults in the Room </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemrow of addmore.controls.noOfRoomsWithAdults['controls']; let i=index" [formGroupName]="i">
    
                        <td> <input type="number" formControlName="maxadults" name="maxadults"  class="form-control reset" min="0" oninput="validity.valid||(value='');"></td>
                        <span *ngIf="itemrow.get('maxadults').touched && itemrow.get('maxadults').hasError('required')" class="text-danger">maximum adullt for the room is required!</span>
                        <td> <button *ngIf="addmore.controls.noOfRoomsWithAdults.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i>delete</button></td>
                    </tr>
              </tbody>
              <tfoot>
                <tr><td> <button type="button" (click)="addNewRow()" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add another Room</button></td></tr>
              </tfoot>
            </table>
          </div>
             
         </div>

        <button  class="btn btn-primary" type="submit" (click)="onsubmit()" [disabled]="!addmore.valid">Search</button>
    </form>
  </div>
  