table{
    width: 100%;
}

th.mat-sort-header-sorted{
    color: black;
}


input.ng-touched.ng-invalid{
    border:1px solid red;
}

body {
    padding-top:50px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}